<div class="n-title-container md:flex md:justify-between md:items-center">
  <h2 class="n-main-title">Website #<%= @website.id %></h2>
  <div class="flex gap-4">
    <%= link_to edit_sources_website_path(@website), class: "n-btn-primary" do %>
      <%= inline_svg "svg/edit.svg", title:"Edit", alt:"Pencil", class: "mx-auto w-6 h-6" %>
      <span class="sr-only">Edit website</span>
    <% end %>
    <%= link_to sources_website_path(@website), data: { turbo_method: :delete, turbo_confirm: "Are you sure?",}, class: "n-btn-danger" do %>
      <%= inline_svg "svg/trash-bin.svg", title:"Delete", alt:"Trash bin", class: "text-red-600 dark:text-red-300 mx-auto w-6 h-6" %>
      <span class="sr-only">Delete website</span>
    <% end %>
  </div>
</div>
<div class="n-form-container">
  <h2 class="n-form-title">
    <%= @website.url %>
  </h2>
</div>
