<%= turbo_frame_tag "#{dom_id(chat)}_message_form" do %>
  <%= form_with(model: Message.new, url: [chat, chat.messages.new], data: { controller: "form", form_target: "form" }, class: "mt-2") do |form| %>
    <%= form.label :content, "Ask any question", class: "sr-only" %>
    <div class="relative">
      <%= form.text_area :content, data: { action: "keydown.meta+enter->form#submit keydown.ctrl+enter->form#submit" }, class: "n-chat", placeholder: "Ask any question", rows: 1, autofocus: true, "x-on:keydown.cmd.enter" => "$event.target.form.requestSubmit();" %>
      <%= form.button type: :submit, class: "n-btn-chat" do %>
        <%= inline_svg "svg/paper-plan.svg", title: "Send", alt: "Send", class: "size-6" %>
      <% end %>
    </div>
  <% end %>
<% end %>
