<div class="n-title-container flex justify-between items-center">
  <h2 class="n-main-title">Sources</h2>
  <div>
    <%= link_to "Add document", new_sources_document_path, class: "n-btn-primary" %>
  </div>
</div>
<form class="flex gap-4">
  <div class="w-1/2 md:w-60">
    <label for="order" class="n-label">Order by</label>
    <button id="orderDropdownButton" data-dropdown-toggle="order-dropdown" type="button" class="n-btn-group n-main-hover border n-main-border n-main-focus inline-flex items-center justify-between">
      Order by
      <%= inline_svg "svg/chevron-down.svg", class: "w-6 h-6" %>
    </button>
    <div id="order-dropdown" class="hidden n-dropdown-menu border n-main-border">
      <ul class="n-dropdown-list" aria-labelledby="orderDropdownButton">
        <li>
          <p class="group w-full n-dropdown-item n-main-hover n-main-focus">Title (a -> z)</p>
        </li>
        <li>
          <p class="group w-full n-dropdown-item n-main-hover n-main-focus">Title (z -> a)</p>
        </li>
        <li>
          <p class="group w-full n-dropdown-item n-main-hover n-main-focus">Account</p>
        </li>
        <li>
          <p class="group w-full n-dropdown-item n-main-hover n-main-focus">Updated at</p>
        </li>
        <li>
          <p class="group w-full n-dropdown-item n-main-hover n-main-focus">Created at</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-1/2 md:w-60">
    <label for="filter" class="n-label">Filter by</label>
    <button id="filterDropdownButton" data-dropdown-toggle="filter-dropdown" type="button" class="md:w-40 n-btn-group n-main-hover border n-main-border n-main-focus inline-flex items-center justify-between">
      Filter by
      <%= inline_svg "svg/chevron-down.svg", class: "w-6 h-6" %>
    </button>
    <div id="filter-dropdown" class="hidden n-dropdown-menu border n-main-border">
      <ul class="n-dropdown-list" aria-labelledby="filterDropdownButton">
        <li>
          <button id="accountDropdownButton" data-dropdown-toggle="accountDropdown" data-dropdown-placement="right-start" type="button" class="group w-full n-dropdown-item n-main-hover n-main-focus inline-flex items-center justify-between">
            Accounts
            <%= inline_svg "svg/chevron-right.svg", class: "w-6 h-6" %>
          </button>
          <div id="accountDropdown" class="hidden n-dropdown-menu border n-main-border">
            <ul class="n-dropdown-list" aria-labelledby="accountDropdownButton">
              <li>
                <p class="group w-full n-dropdown-item n-main-hover n-main-focus">All</p>
              </li>
              <% @accounts.each do |account|%>
                <li>
                  <p class="group w-full n-dropdown-item n-main-hover n-main-focus"><%= account.name %></p>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
        <li>
          <button id="tagDropdownButton" data-dropdown-toggle="tagDropdown" data-dropdown-placement="right-start" type="button" class="group w-full n-dropdown-item n-main-hover n-main-focus inline-flex items-center justify-between">
            Tags
            <%= inline_svg "svg/chevron-right.svg", class: "w-6 h-6" %>
          </button>
          <div id="tagDropdown" class="hidden n-dropdown-menu border n-main-border">
            <ul class="n-dropdown-list overflow-y-auto h-72" aria-labelledby="tagDropdownButton">
              <li>
                <p class="group w-full n-dropdown-item n-main-hover n-main-focus">All</p>
              </li>
              <% (1..10).each_with_index do |index|%>
                <li>
                  <p class="group w-full n-dropdown-item n-main-hover n-main-focus">Tag-<%= index %></p>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</form>
<ul class="n-cards-grid list-none">
  <% @documents.each do |document| %>
    <li class="n-card n-main-border lg:col-span-2">
      <div class="m-5 p-1 truncate space-y-2">
        <div class="flex items-center justify-between">
          <p class="n-card-subtitle"><%= document.account&.name %></p>
          <div class="flex items-center gap-4">
            <%= link_to sources_document_path(document), title:"Show document", class: "n-btn-icon n-main-hover n-main-focus" do %>
              <%= inline_svg "svg/eye.svg", title:"Show", alt:"Eye", class: "mx-auto w-6 h-6" %>
              <span class="sr-only">Show document</span>
            <% end %>
            <%= link_to sources_document_path(document), title:"Delete document", data: { turbo_method: :delete, turbo_confirm: "Are you sure?", }, class: "text-red-600 dark:text-red-300 n-btn-icon n-main-hover-danger n-main-focus-danger" do %>
              <%= inline_svg "svg/trash-bin.svg", title:"Delete", alt:"Trash bin", class: "mx-auto w-6 h-6" %>
              <span class="sr-only">Delete document</span>
            <% end %>
          </div>
        </div>
        <div>
          <h5 class="n-card-title">
            <span class="text-wrap"><%= document.title %></span>
          </h5>
          <p><%= document.created_at %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<% if false %>
  <div class="n-cards-grid">
    <%= link_to sources_documents_path, title: "Documents", alt: "Open document sources", class: "n-card n-main-focus place-content-center n-main-border n-main-hover h-48 xl:col-span-2" do %>
      <%= inline_svg "svg/files.svg", title: "Documents", alt: "Documents", class: "mx-auto w-12 h-12" %>
      <h5 class="n-card-title">Documents</h5>
    <% end %>

    <%= link_to sources_texts_path, title: "Text", alt:"Open Text sources", class: "n-card n-main-focus place-content-center n-main-border n-main-hover h-48 xl:col-span-2" do %>
      <%= inline_svg "svg/file-lines.svg", title: "Text", alt: "File lines", class: "mx-auto w-12 h-12" %>
      <h5 class="n-card-title">Texts</h5>
    <% end %>

    <%= link_to sources_qnas_path, title: "Q&As", alt:"Open Q&As sources", class: "n-card n-main-focus place-content-center n-main-border n-main-hover h-48 xl:col-span-2" do %>
      <%= inline_svg "svg/question-circle.svg", title: "Q&As", alt: "Question circle", class: "mx-auto w-12 h-12" %>
      <h5 class="n-card-title">Q&As</h5>
    <% end %>

    <%= link_to sources_websites_path, title: "Websites", alt:"Open website sources", class: "n-card n-main-focus place-content-center n-main-border n-main-hover h-48 xl:col-span-2" do %>
      <%= inline_svg "svg/window.svg", title: "Websites", alt: "Window", class: "mx-auto w-12 h-12" %>
      <h5 class="n-card-title">Websites</h5>
    <% end %>
  </div>
<% end %>
