<% content_for :navbar do %>
  <li class="flex items-center">
    <%= link_to "Settings", settings_path, class:"n-ariane n-main-focus" %>
  </li>
  <li class="flex items-center">
    <%= inline_svg_tag "svg/chevron-right.svg", class: "shrink-0 h-5 w-5" %>
    <%= link_to "MCP servers", mcp_servers_path, class:"n-ariane n-main-focus" %>
  </li>
  <li class="flex items-center">
    <%= inline_svg_tag "svg/chevron-right.svg", class: "shrink-0 h-5 w-5" %>
    <%= link_to @mcp_server.name, mcp_server_path(@mcp_server), class:"n-ariane n-main-focus" %>
  </li>
  <li class="flex items-center">
    <%= inline_svg_tag "svg/chevron-right.svg", class: "shrink-0 h-5 w-5" %>
    <%= link_to "Edit #{@mcp_server.name}", edit_mcp_server_path(@mcp_server), class:"n-ariane n-main-focus" %>
  </li>
<% end %>

<div class="n-title-container md:flex md:justify-between md:items-center">
  <div>
    <h2 class="n-main-title">Edit <%= @mcp_server.name %></h2>
    <p class="mb-2 text-sm text-neutral-600 dark:text-neutral-400">
      Update your MCP server configuration.
    </p>
  </div>
</div>
<%= render "form", mcp_server: @mcp_server %>
