<div class="n-title-container flex justify-between items-center">
  <h2 class="n-main-title">Q&As</h2>
  <%= link_to "Add Q&A", new_sources_qna_path, class: "n-btn-primary" %>
</div>

<ul class="n-cards-grid list-none">
  <% @qnas.each do |qna| %>
    <li class="n-card n-main-border lg:col-span-2 ">
      <div class="m-6 space-y-2">
        <div class="flex items-center justify-between">
          <p class="n-card-subtitle"><%= qna.account&.name %></p>
          <div class="flex items-center gap-4">
            <%= link_to sources_qna_path(qna), title:"Show qna", class: "n-btn-icon n-main-hover n-main-focus" do %>
              <%= inline_svg "svg/eye.svg", title:"Show", alt:"Eye", class: "mx-auto w-6 h-6" %>
              <span class="sr-only">Show qna</span>
            <% end %>
            <%= link_to sources_qna_path(qna), title:"Delete qna", data: { turbo_method: :delete, turbo_confirm: "Are you sure?", }, class: "text-red-600 dark:text-red-300 n-btn-icon n-main-hover-danger n-main-focus-danger" do %>
              <%= inline_svg "svg/trash-bin.svg", title:"Delete", alt:"Trash bin", class: "mx-auto w-6 h-6" %>
              <span class="sr-only">Delete qna</span>
            <% end %>
          </div>
        </div>
        <p class="n-card-title">
          <span class="text-wrap"><%= qna.question %></span>
        </p>
      </div>
    </li>
  <% end %>
</ul>
