<%= form_with(model: chat, url: chats_path, class: "mt-2") do |form| %>
  <% if chat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
        <% chat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# TODO: form.label :model, "Select AI model" %>
  <%# TODO: form.select :model, options_for_select(Model.pluck(:name, :model_id).unshift(["Default (#{RubyLLM.config.default_model})", nil]), @selected_model), {}, class: "" %>

  <%= form.label :prompt, "Ask any question", class: "sr-only" %>
  <div class="relative">
    <%= form.text_area :prompt, data: { action: "keydown.meta+enter->form#submit keydown.ctrl+enter->form#submit" }, class: "n-chat", placeholder: "Ask any question", rows: 1, autofocus: true, "x-on:keydown.cmd.enter" => "$event.target.form.requestSubmit();" %>
    <%= form.button type: :submit, class: "n-btn-chat" do %>
      <%= inline_svg "svg/paper-plan.svg", title: "Send", alt: "Send", class: "size-6" %>
    <% end %>
  </div>
<% end %>
