<div id="<%= dom_id document %>">
  <h2 class="n-title truncate"><%= document.title %></h2>
  <div class="w-full h-[calc(100vh-16.5rem)] md:h-[calc(100vh-15rem)] lg:h-[calc(100vh-11.5rem)]">
    <% case document.file.blob.content_type %>
    <% when "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>
      <object class="h-full w-full" data="<%= url_for(document.file) %>" type="<%= document.file.blob.content_type %>">
        <embed src="<%= url_for(document.file) %>" type="<%= document.file.blob.content_type %>">
      </object>
    <% when "image/png", "image/jpeg" %>
      <img class="h-full w-auto mx-auto" src="<%= url_for(document.file) %>" alt="<%= document.title %>">
    <% else %>
      <%= link_to document.file.filename, url_for(document.file), target: "_blank", rel: "noopener" %>
    <% end %>
  </div>
</div>
