<nav class="h-16 flex w-full items-center justify-between border-b main-border main-bg py-2 px-4">
  <div class="flex items-center justify-start gap-4">
    <%= link_to root_path do %>
      <span class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white">Nosia</span>
    <% end %>
  </div>
  <div class="flex items-center">
    <div class="flex items-center space-x-1 sm:pe-3">
      <% if Current.user %>
        <button command="show-modal" commandfor="dialog" id="toggleSidebarMobileSearch" type="button" class="n-btn n-btn-hover-main">
          <span class="sr-only">Search</span>
          <%= inline_svg "svg/search.svg", title:"Search", alt:"Search", class:"w-5 h-5" %>
        </button>
        <%= render "search" %>
      <% end %>
      <button id="theme-toggle" type="button" class="n-btn n-btn-hover-main focus:outline-none">
        <%= inline_svg "svg/moon.svg", id: "theme-toggle-dark-icon", title:"Dark mode", alt:"Toggle dark mode", class:"hidden h-6 w-6" %>
        <%= inline_svg "svg/sun.svg", id: "theme-toggle-light-icon", title:"Light mode", alt:"Toggle light mode", class:"hidden h-6 w-6" %>
      </button>
    </div>

    <% if Current.user %>
      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="accountDropdown" class="n-btn n-btn-hover-main flex shrink-0 rounded-full">
        <span class="sr-only">Open user menu</span>
        <%= inline_svg "svg/user-circle.svg", title:"User", alt:"Open user menu", class: "w-6 h-6" %>
      </button>
      <div id="dropdown" class="hidden w-60 overflow-y-auto rounded-lg bg-slate-100 dark:bg-slate-900 shadow-md border main-border" data-popper-placement="bottom">
        <ul aria-labelledby="dropdownButton" class="!list-none p-2 text-start text-sm font-medium text-gray-900 dark:text-white">
          <li>
            <%= link_to "#", class:"group flex items-center gap-2 rounded-md px-3 py-2 n-btn-hover-main" do %>
              <%= inline_svg "svg/identification.svg", title:"User", alt:"User info", class: "w-6 h-6" %>
              <span>User info</span>
            <% end %>
          </li>
          <li>
            <%= link_to settings_path, class:"group flex items-center gap-2 rounded-md px-3 py-2 n-btn-hover-main" do %>
              <%= inline_svg "svg/cog.svg", title:"Settings", alt:"Settings", class: "w-6 h-6" %>
              <span>Settings</span>
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, data: { turbo_method: :delete }, title: "Sign out", alt:"Sign out", class:"group flex items-center gap-2 rounded-md px-3 py-2 n-btn-hover-main" do %>
              <%= inline_svg "svg/power.svg", title:"Settings", alt:"Settings", class: "w-6 h-6" %>
              <span>Sign out</span>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
