<% if Current.user %>
  <div class="hidden lg:block border-r main-border main-bg p-1" data-controller="reveal" data-reveal-hidden-class="hidden">
    <button data-action="reveal#toggle" type="button" class="hidden lg:block cursor-pointer n-nav-link w-fit">
      <%= inline_svg "svg/menu.svg" %>
    </button>
    <div>
      <%= link_to root_path, title: "Home", class: "n-nav-link" do %>
        <%= inline_svg "svg/home.svg" %>
        <span data-reveal-target="item" class="hidden">Home</span>
      <% end %>
      <%= link_to "#", title: "Folders", class: "n-nav-link" do %>
        <%= inline_svg "svg/folders.svg" %>
        <span data-reveal-target="item" class="hidden">Folders</span>
      <% end %>
      <% if Current.user.admin? %>
        <%= link_to documents_path, title: "Documents", class: "n-nav-link" do %>
          <%= inline_svg "svg/files.svg" %>
          <span data-reveal-target="item" class="hidden">Documents</span>
        <% end %>
      <% end %>
      <%= link_to "#", title: "Setting", class: "n-nav-link" do %>
        <%= inline_svg "svg/cog.svg" %>
        <span data-reveal-target="item" class="hidden">Settings</span>
      <% end %>
    </div>
    <div>
      <%= link_to logout_path, data: { turbo_method: :delete }, title: "Sign out", class: "n-nav-link" do %>
        <%= inline_svg "svg/power.svg" %>
        <span data-reveal-target="item" class="hidden">Sign out</span>
      <% end %>
    </div>
  </div>

  <div class="lg:hidden fixed z-50 w-full h-16 max-w-sm -translate-x-1/2 main-bg border main-border rounded-full bottom-4 left-1/2">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
      <%= link_to root_path, title: "Home", class: "n-nav-bottom rounded-s-full" do %>
        <%= inline_svg "svg/home.svg" %>
      <% end %>
      <%= link_to "#", title: "Folders", class: "n-nav-bottom" do %>
        <%= inline_svg "svg/folders.svg" %>
      <% end %>
      <%= link_to chats_path, data: {turbo_method: :post}, title: "New chat", class:"n-nav-bottom" do %>
        <%= inline_svg "svg/chats.svg", class:"p-2 h-14 w-14 text-white dark:text-black bg-gray-800 dark:bg-gray-100 rounded-full hover:bg-gray-700 dark:hover:bg-gray-200 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-200" %>
      <% end %>
      <% if Current.user.admin? %>
        <%= link_to documents_path, title: "Documents", class: "n-nav-bottom" do %>
          <%= inline_svg "svg/files.svg" %>
        <% end %>
      <% end %>
      <%= link_to "#", title: "Setting", class: "n-nav-bottom rounded-e-full" do %>
        <%= inline_svg "svg/cog.svg" %>
      <% end %>

      <div class="hidden items-center justify-center">
        <button data-tooltip-target="tooltip-new" type="button" class="inline-flex items-center justify-center w-10 h-10 font-medium bg-blue-600 rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
          <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
          </svg>
          <span class="sr-only">New item</span>
        </button>
      </div>
    </div>
  </div>

<% end %>
