<el-dialog>
  <dialog id="dialog" class="backdrop:bg-transparent">
    <el-dialog-backdrop class="fixed inset-0 bg-gray-500/50 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in dark:bg-gray-900/75"></el-dialog-backdrop>

    <div tabindex="0" class="fixed inset-0 w-screen overflow-y-auto p-4 focus:outline-none sm:p-6 md:p-20">
      <el-dialog-panel class="mx-auto block max-w-2xl transform overflow-hidden rounded-xl bg-white shadow-2xl outline-1 outline-black/5 transition-all data-closed:scale-95 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in dark:bg-gray-900 dark:-outline-offset-1 dark:outline-white/10">
        <el-command-palette>
          <div class="grid grid-cols-1 border-b border-gray-100 dark:border-white/10">
            <input type="text" autofocus placeholder="Search..." class="col-start-1 row-start-1 h-12 w-full pr-4 pl-11 text-base text-gray-900 outline-hidden placeholder:text-gray-400 sm:text-sm dark:bg-gray-900 dark:text-white dark:placeholder:text-gray-500" />
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 ml-4 size-5 self-center text-gray-400 dark:text-gray-500">
              <path d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </div>

          <el-command-list class="block max-h-80 scroll-py-2 overflow-y-auto">
            <el-defaults class="block divide-y divide-gray-100 dark:divide-white/10">
              <div class="p-2">
                <h2 class="mt-4 mb-2 px-3 text-xs font-semibold text-gray-500 dark:text-gray-400">Recent chats</h2>
                <div class="text-sm text-gray-700 dark:text-gray-300">
                  <% Current.user.recent_chats(limit: 5).each do |chat| %>
                    <%= link_to chat, class: "group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-blue-600 aria-selected:text-white dark:aria-selected:bg-blue-500" do %>
                      <%= inline_svg "svg/chats.svg", class: "size-6 flex-none text-gray-400 group-aria-selected:text-white dark:text-gray-500 forced-colors:group-aria-selected:text-[Highlight]" %>
                      <span class="ml-3 flex-auto truncate"><%= chat.title %></span>
                      <span aria-hidden="true" class="ml-3 hidden flex-none text-blue-100 group-aria-selected:inline dark:text-blue-200">Jump to...</span>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="p-2">
                <h2 class="sr-only">Quick actions</h2>
                <div class="text-sm text-gray-700 dark:text-gray-300">
                  <%= link_to new_chat_path, class: "group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-blue-600 aria-selected:text-white dark:aria-selected:bg-blue-500" do %>
                    <%= inline_svg "svg/chats.svg", class: "size-6 flex-none text-gray-400 group-aria-selected:text-white dark:text-gray-500 forced-colors:group-aria-selected:text-[Highlight]" %>
                    <span class="ml-3 flex-auto truncate">Ask any question...</span>
                  <% end %>
                </div>
              </div>
            </el-defaults>

            <el-command-group hidden class="block p-2 text-sm text-gray-700 dark:text-gray-300">
              <% Current.user.chats.limit(50).each do |chat| %>
                <%= link_to chat, class: "group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-blue-600 aria-selected:text-white dark:aria-selected:bg-blue-500" do %>
                  <%= inline_svg "svg/chats.svg", class: "size-6 flex-none text-gray-400 group-aria-selected:text-white dark:text-gray-500 forced-colors:group-aria-selected:text-[Highlight]" %>
                  <span class="ml-3 flex-auto truncate"><%= chat.title %></span>
                  <span aria-hidden="true" class="ml-3 hidden flex-none text-blue-100 group-aria-selected:inline dark:text-blue-200">Jump to...</span>
                <% end %>
              <% end %>
              <% Current.account.documents.limit(50).each do |document| %>
                <%= link_to sources_document_path(document), class: "group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-blue-600 aria-selected:text-white dark:aria-selected:bg-blue-500" do %>
                  <%= inline_svg "svg/files.svg", class: "size-6 flex-none text-gray-400 group-aria-selected:text-white dark:text-gray-500 forced-colors:group-aria-selected:text-[Highlight]" %>
                  <span class="ml-3 flex-auto truncate"><%= document.title %></span>
                  <span aria-hidden="true" class="ml-3 hidden flex-none text-blue-100 group-aria-selected:inline dark:text-blue-200">Jump to...</span>
                <% end %>
              <% end %>
              <% Current.account.qnas.limit(50).each do |qna| %>
                <%= link_to sources_qna_path(qna), class: "group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-blue-600 aria-selected:text-white dark:aria-selected:bg-blue-500" do %>
                  <%= inline_svg "svg/files.svg", class: "size-6 flex-none text-gray-400 group-aria-selected:text-white dark:text-gray-500 forced-colors:group-aria-selected:text-[Highlight]" %>
                  <span class="ml-3 flex-auto truncate"><%= qna.question %></span>
                  <span aria-hidden="true" class="ml-3 hidden flex-none text-blue-100 group-aria-selected:inline dark:text-blue-200">Jump to...</span>
                <% end %>
              <% end %>
              <% Current.account.websites.limit(50).each do |website| %>
                <%= link_to sources_website_path(website), class: "group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-blue-600 aria-selected:text-white dark:aria-selected:bg-blue-500" do %>
                  <%= inline_svg "svg/files.svg", class: "size-6 flex-none text-gray-400 group-aria-selected:text-white dark:text-gray-500 forced-colors:group-aria-selected:text-[Highlight]" %>
                  <span class="ml-3 flex-auto truncate"><%= website.title %></span>
                  <span aria-hidden="true" class="ml-3 hidden flex-none text-blue-100 group-aria-selected:inline dark:text-blue-200">Jump to...</span>
                <% end %>
              <% end %>
              <% Current.user.accounts.limit(50).each do |account| %>
                <%= link_to accounts_path, hidden: true, class: "group flex cursor-default items-center rounded-md px-3 py-2 select-none focus:outline-hidden aria-selected:bg-blue-600 aria-selected:text-white dark:aria-selected:bg-blue-500" do %>
                  <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 flex-none text-gray-400 group-aria-selected:text-white dark:text-gray-500 forced-colors:group-aria-selected:text-[Highlight]">
                    <path d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="ml-3 flex-auto truncate"><%= account.name %></span>
                  <span aria-hidden="true" class="ml-3 hidden flex-none text-blue-100 group-aria-selected:inline dark:text-blue-200">Jump to...</span>
                <% end %>
              <% end %>
            </el-command-group>
          </el-command-list>

          <el-no-results hidden class="block px-6 py-14 text-center sm:px-14">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="mx-auto size-6 text-gray-400 dark:text-gray-500">
              <path d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <p class="mt-4 text-sm text-gray-900 dark:text-gray-200">We couldn’t find any projects with that term. Please try again.</p>
          </el-no-results>
        </el-command-palette>
      </el-dialog-panel>
    </div>
  </dialog>
</el-dialog>

