<div class="m-4">
  <%= button_to chats_path, class: "flex w-full gap-x-4 rounded-lg border main-border p-4 text-left text-sm font-medium text-slate-700 n-btn-hover-main focus:outline-none dark:text-slate-200" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="hidden sm:inline h-5 w-5" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 5l0 14"></path>
      <path d="M5 12l14 0"></path>
    </svg>
    New Chat
  <% end %>
</div>
<div class="space-y-4 overflow-y-auto m-4">
  <% Current.user.chats.order(updated_at: :desc).each do |chat| %>
    <div class="grid grid-cols-6 gap-2 items-center">
      <%= link_to chat, class: "col-span-5 w-full flex flex-col gap-y-2 rounded-lg px-3 py-2 focus:outline-none n-btn-hover-main" do %>
        <h1 class="text-sm font-medium text-slate-700 dark:text-slate-200 truncate">
          <%= chat.title %>
        </h1>
        <p class="text-xs text-slate-500 dark:text-slate-400"><%= l(chat.updated_at, format: :short) %></p>
      <% end %>
      <%= button_to chat, method: :delete, data: { turbo_confirm: "Are you sure?" }, class:"text-red-500 cursor-pointer n-btn-hover-main p-2 rounded-lg" do %>
        <%= inline_svg "svg/trash-bin.svg", title:"Delete chat", class:"h-5 w-5" %>
      <% end %>
    </div>
  <% end %>
</div>
