<!DOCTYPE html>
<html class="h-full dark:bg-slate-900 dark:text-white">
  <head>
    <title><%= content_for(:title) || "Nosia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="max-h-dvh">
    <%= render "flash" %>
    <%= render "header" %>
    <div class="h-full max-h-[calc(100dvh-4rem)] w-full flex">
      <%= render "menu" %>
      <main class="overflow-y-auto w-full flex p-6">
        <%= yield %>
      </main>
      <%= render "sidebar" %>
    </div>
  </body>
</html>
